.container{
    margin: 10% auto;
    text-align: center;
}

h2{
    visibility: hidden;
    font-size: 3rem;
}


.btn{
    position:relative;
    margin-top: 100px;
}

.phone{
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -50px;
}

/*phone click event css*/
#phone_non_click{
    position: absolute;
    opacity: 50%;
    left: 50%;
    margin-left: -50px;
}

.phone_click{
    z-index: 2;
}

